$wrap: true;
.debug {
  box-shadow: 0 0 1px rgba(255, 0, 255, 1);
}
html {
  --baseline: #{$baseline};
  --gutter: #{$grid_outer_gutter};
  --outer-gutter: #{$grid_outer_gutter};
  --cols: 12;

  @include for-mobile-and-tablet {
    --gutter: 22px;
  }

  @include for-mobile {
    --gutter: 16px;
    --outer-gutter: 0px;
  }

  --v-outer: calc(var(--gutter) + var(--outer-gutter));
  --v-inner: calc(100vw - (var(--v-outer) * 2));
  --v-inner-gutter-total: calc(var(--gutter) * (var(--cols) - 1));

  @if ($wrap == true) {
    @include for-large-desktop {
      --v-inner: calc(#{$bp_xl});
    }
  }

  --v-col: calc((var(--v-inner) - var(--v-inner-gutter-total)) / var(--cols));
  --v-col-full: calc(var(--v-col) + var(--gutter));
}

.grid {
  @include grid-base(100%, false);

  &.grid-centered {
    align-items: center;
    height: 100%;
  }

  &.grid-not-padded {
    padding: 0;
  }

  &.grid-not-padded-mobile {
    @include for-mobile() {
      padding: 0;
    }
  }
}

.col {
  @include columns-loop(lg, $grid-desktop-columns, $desk-gutter);
  line-height: 1;

  @media screen and (max-width: $grid-tablet-breakpoint) {
    @include columns-loop(md, $grid-tablet-columns, $tab-gutter);
  }

  @media screen and (max-width: $grid-mobile-breakpoint) {
    @include columns-loop(sm, $grid-mobile-columns, $grid-mobile-gutter);
    margin-left: 0;
  }

  &.col-columns {
    column-count: 2;
  }

  &.col-centered {
    margin-left: auto;
    margin-right: auto;
  }

  &.col-flush {
    padding: 0;
  }

  &.col-align-right {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
  }

  &.col-push-bg {
    transform: translateY(80px);

    @include for-mobile {
      transform: none;
    }
  }

  &.col-hide-on-mobile {
    @include for-mobile() {
      display: none;
    }
  }
}

.center-content {
  display: flex;
  justify-content: center;
}
