html {
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include type-body;
}

pre {
  @include type-body;
  text-transform: none;
}

p {
  margin: 0;
  @include type-paragraph;
  font-weight: normal;
}

h1 {
  @include type-heading;
  // text-transform: uppercase;
  padding: 0;
  margin: 0;
}
h2 {
  @include type-heading;
  // text-transform: uppercase;
}

/*
  set the block size for isolated links to fit the baseline grid
  mainly for buttons
  try: transferring to a .buttons class ?
*/
*:not(p) > a {
  // display: inline-block;
  // margin-bottom: bl(0.5);
}

p + a {
  margin-top: bl(4);
}

/*
  set margins between headings and other typographical elements
  try: h1:not(:last-child) ?
 */
h1 + p,
h1 + a,
p + a {
  margin-top: bl(1);
}

p + p {
  margin-top: 1.3em;
}

.type-small p {
  font-size: 12px;
  line-height: 1.333;
}

.type-paragraph p + pre {
  margin-top: bl(3.5);
}

pre,
.type-mono-body {
  em,
  i {
    font-style: normal;
  }
}

.type-mono-body {
  text-transform: none;
  p {
    text-transform: none;
  }
}

.type-h1 {
  @include type-heading;
}

.type-h2 {
  @include type-heading;
}

.type-paragraph {
  @include type-paragraph;
  p {
    @include type-paragraph;
    margin-bottom: bl(2);
  }
  pre {
    @include type-body;
    font-weight: normal;
    text-transform: none;
  }
  h2 {
    @include type-heading;
    margin-bottom: bl(3);
  }
}
