.indexes {
  li {
    border-top: 1px solid black;
  }

  .images {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    div {
      width: 20%;
      height: auto;
      // padding: 0 18px;
      padding-right: calc(35 / #{$base-width} * 100%);
    }
  }
}

.cols {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px calc(18 / #{$base-width} * 100%);
  transition: background 200ms ease;

  &:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  &.cols-headRow {
    &:hover {
      background: none;
    }

    span {
      cursor: pointer;
    }
  }

  .col {
    &.col-1 {
      width: calc(110 / #{$base-width} * 100%);
    }

    &.col-2 {
      width: calc(206 / #{$base-width} * 100%);
    }

    &.col-3 {
      width: calc(189 / #{$base-width} * 100%);
    }

    &.col-4 {
      width: calc(311 / #{$base-width} * 100%);
    }

    &.col-5 {
      width: calc(175 / #{$base-width} * 100%);
    }

    &.col-6 {
      width: calc(84 / #{$base-width} * 100%);
    }

    &.col-7 {
      width: calc(211 / #{$base-width} * 100%);
    }

    &.col-8 {
      width: calc(110 / #{$base-width} * 100%);
      display: flex;
      justify-content: flex-start;

      span {
        width: 27.27%;
        padding: 0 2%;
      }
    }

    &.col-full {
      width: 100%;
    }
  }
}
