.page.page-index {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1050;
  background: white;
}

.page {
  .page-slideshow {
    width: 100vw;
    height: 80vh;
    position: relative;
  }
}
