
@font-face {
    font-family:"Triptych Grotesque";
    src:url("Triptych-Grotesque.woff2") format("woff2"),url("Triptych-Grotesque.woff") format("woff"),url("Triptych-Grotesque.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        