@mixin type-body {
  font-family: $base-font-roman;

  font-size: 16px;
  line-height: 18px;

  strong,
  b {
    font-weight: normal;
  }
}

@mixin type-bold {
  @include type-body;
  font-family: $base-font-grotesque;
}

@mixin type-italic {
  font-family: $base-font-italic;
}

@mixin type-heading {
  font-family: $base-font-grotesque;
  font-size: 26px;
  line-height: 1;
}

@mixin type-menu {
  @include type-heading;
  @include for-mobile {
    font-size: 42px;
    line-height: 1.142em;
  }
}

@mixin type-paragraph {
  font-family: $base-font-roman;
  font-size: 16px;
  line-height: 22px;
}
