
@font-face {
    font-family:"Triptych";
    src:url("Triptych-Roman.woff2") format("woff2"),url("Triptych-Roman.woff") format("woff"),url("Triptych-Roman.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        