.slideshow {
  position: relative;
  cursor: grab;

  &.grabbing {
    cursor: grabbing;
  }

  // .slideshow-next {
  //   left: auto;
  //   right: 0;
  // }

  &.slideshow-gallery {
    width: 100%;
    height: calc(100vh - 54px);
    padding: 50px 0;

    .slideshow-wrapper {
      width: 100%;
      height: 100%;
      // overflow: hidden;

      .slideshow-slide {
        display: flex;
        justify-content: center;
        align-items: center;

        .image {
          width: 100%;
          height: 100%;
          // background: red;
        }
      }
    }
  }
}

.slideshow-share {
  position: fixed;
  width: auto;
  height: auto;
  top: 24px;
  left: 28px;
  z-index: 9999;
}

.slideshow-close {
  position: fixed;
  width: auto;
  height: auto;
  top: 15px;
  right: 10px;
  z-index: 9999;
}

.slideshow-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  transform: translateY(calc(100% - 54px));
  transition: transform 300ms ease;

  &.active {
    transform: translateY(0);
  }
}
