.draggable {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 98;

  .draggable-bounds {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200vw;
    height: 200vw;

    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .drag {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    // transform: scale(0.3);

    div {
      padding: 5vw;
      // background: blue;
      width: 100%;
    }
  }
}
