.image {
  width: 100%;
  height: auto;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  figcaption {
    margin-top: 0.4em;
  }

  // &.image-index {
  //   width: auto;
  //   height: 100%;
  //   img {
  //     width: auto;
  //     height: 100%;
  //   }
  // }
}
