$black: #181818;
$grey: #dcdcdc;
$dark-grey: #999999;
$white: #ffffff;
$yellow: #ffff00;

$bp-sm: 480px;
$bp-md: 960px;
$bp-lg: 1280px;
$bp-xl: 1600px;

$baseline: 8px;

$grid_outer_gutter: 32px;
$base-width: 1440;
