
@font-face {
    font-family:"Triptych Italick";
    src:url("Triptych-Italick.woff2") format("woff2"),url("Triptych-Italick.woff") format("woff"),url("Triptych-Italick.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        